
#navPart {
    position: sticky;
    top: 0;
}

header {
    background-color: rgb(51, 51, 51);
    width: 100%;
    height: 50px;
}

#logo {
    color: white;
    font-size: 22px;
    position: absolute;
    top: 8px;
    left: 12%;
    float: left;
    margin-top: 1px;
}

#logo:hover {
    cursor: pointer;
    opacity: .6;
    transition: .3s;
}

nav {
    position: absolute;
    left: 19%;
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color: #f5f5f7;
    margin-right: 65px;
    font-size: 12px;
    margin-left: 20px;
    
}

nav a:hover {
    opacity: .5;
    transition: .3s;
}

.right {
    float: right;
}

#search {
    position: absolute;
    right: 244px;
    margin-top: 7px;
    color: white;
    font-weight: normal;
}

#search:hover {
    opacity: .5;
    transition: .3s;
    cursor: pointer;
}

#lock {
    color: white;
    margin-top: 6px;
    margin-right: -3px;
}

#lock:hover {
    opacity: .5;
    transition: .3s;
    cursor: pointer;
}

.banner {
    background: url("http://mateen.kurdzman.net/ban.png") no-repeat;
    width: 100%;
    height: 585px;
    background-position: center;
    background-size: cover;
}
/* nav bar */
.body{
    background-color: #F1F8E9;
    padding-left: 200px;
}

.B1 {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
    font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;

}

.B1-2 {
    display: flex;
}

#b1 {
    display: flex;
    margin-right: 100px;
    justify-content: space-evenly;
}

.rs-shop-subheader,.rs-shop-sub {
    color: #6e6e73;
}

.rs-shop-header,
.rs-shop-subheader {
    font-size: 45px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -.003em;
    font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    display: inline;
    
}
.rs-shop-h,
.rs-shop-sub{
    font-size: 30px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -.003em;
    font-family: SF Pro Display, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    display: inline;

}

.B1>div img {
    width: 100%;
    height: auto;
}

.B1-1 {
    background-color: #F1F8E9;
    margin-top: 50px;
}

* { box-sizing: border-box; }

body { font-family: sans-serif; } 

.carousel {
   justify-content: space-around;
   background-color: #F1F8E9;
   margin-top:30px;
   margin-bottom:50px;
 } 

.carousel-cell {
  width: 30%;
  height: 500px;
  margin-right: 10px;

  
}
.carousel-cell:before {
  display: block;
  font-size: 80px;
 color: white;
 
}
.latest-card-top{
    scroll-snap-align:start;
    border-radius: 15px;
    min-width:330px;
    height: 500px;
    color:white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px 25px;
}
.lates-card-top p{
    font-size: 14px;
}
.latest-card-top:nth-child(3),.latest-card-top:nth-child(8){
    color:black;
}

.B3{
    display: flex;
    margin-left: 10px;
    gap:20px;
    margin-top: 25px;
}
.B3 img{
    border-radius: 20px;
}
.B3-1{
    margin-top: 15px;
    position: relative;
}

.carousel {
    justify-content: space-around;
    background-color: #F1F8E9;
    margin-top:30px;
    margin-bottom:50px;
  } 
 
 .carousel-c {
   width: 30%;
   height: 200px;
   margin-right: 10px;
 
   
 }
 .carousel-cell:before {
   display: block;
   font-size: 80px;
  color: white;
  
 }
 .latest-card{
     scroll-snap-align:start;
     border-radius: 15px;
     min-width:320px;
     height: 200px;
     color:black;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     padding: 15px 25px;
 }
 .latest-card p{
     font-size: 20px;
     color: black;
 }
 #B4{
    margin-top: 50px;
    margin-bottom: 30px;
 }
 .B5{
    margin-top: 50px ;
    display: flex;
    width: 90%;
    margin-left: 2%;
    gap: 20px;
    height: auto;
    border-radius: 10px;
    padding-bottom: 40px;
    justify-content: space-evenly;
 }
 .B5-1{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    width: 100%;
    border-radius: 10px;
 }
 
 .B5-1 p, .B5-1 h4{
    margin-left: 10px
 }
 #bbbb{
    display: flex;
    padding-top: 30px;
 }


 /* footer */
 #ul_table{
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
    text-align: left;

}
#ul_table>div>ul{
 color: black;
 margin-top: -5px;
}
/* 
#third{
    margin-right: 20%;
} */

#ul_table>div>ul>a{
    text-decoration: none;
    /* text-align:end; */
    color:rgb(110,110,115);


}

   #ul_table>div>ul:hover{
    /* border-bottom: 1px solid black; */
    text-decoration: underline;
    
   }

   #main{
    width: 75%;
    /* margin-c: 10%; */
    margin: auto;

   
   }

   body{
    background-color: #f5f5f7;
   }

   p{
    color: #939397;
    font-size: 15px;
   }

   #link{
    color:#6c7378;
    text-decoration: none;
    /* text-decoration: underline; */
   }

   a{
    color:rgb(110,110,115);
    font-size: 13px;
    font-weight: 400; 
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    /* margin-top: 20px;
    margin-bottom: 20px; */
   } 

  #last{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin-top: -10px; */
    /* margin-left: -10%; */
    padding: auto;
  }
   
  #last>div>a{
    /* font-family: Arial, Helvetica, sans-serif; */
    text-decoration: none;
    color:rgb(110,110,115);
    /* font-size: 13px; */
    /* font-weight: 400; */
    margin-top: 10px;
  }
  
  h5{
    color: #4d4d4f;
    /* text-align: left; */
    margin-left: 40px;
    margin-bottom: 15px;
  }
 /* footer */
